*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", "Helvetica", "sans-serif";
    background: gray;
}

/* Cabeçalho  Inicio*/
    #header{
        background-color: rgb(247, 182, 0);
        text-align: center;
        padding: 15px;
    }

    /* LOGO INICIO*/
    #header-logo, #nav{
        padding: 10px;
    }

    #logo{
        color: rgb(78, 78, 78);
        font-size: 2.5em;
    }

    .white{
        color: #fff;
    }

    #header-logo h1{
        margin: 0;
        padding: 0;
    }
    /* LOGO FIM*/

    /*NAVEGAÇÃO INICIO*/
    #nav{
        text-align: center;
    }

    #nav a{
        text-decoration: none;
        padding: 20px;
        color: #fff;
    }

    #nav a:link{
        padding: 8px 10px;
        color: #fff;
    }

    #nav a:hover{
        background: #fff;
        color: rgb(247, 182, 0);
        border-radius: 50px;
    }
    /*NAVEGAÇÃO FIM*/

/* Cabeçalho  FIM*/
