*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", "Helvetica", "sans-serif";
    background: rgb(177, 191, 202);
}

/* Cabeçalho  Inicio*/
    #header{
        background-color: rgb(247, 182, 0);
        text-align: center;
        padding: 15px;
    }

    /* LOGO INICIO*/
    #header-logo, #nav{
        padding: 10px;
    }

    #logo{
        color: rgb(78, 78, 78);
        font-size: 2.5em;
    }

    .white{
        color: #fff;
    }

    #header-logo h1{
        margin: 0;
        padding: 0;
    }
    /* LOGO FIM*/

    /*NAVEGAÇÃO INICIO*/
    #nav{
        text-align: center;
    }

    #nav a{
        text-decoration: none;
        padding: 20px;
        color: #fff;
    }

    #nav a:link{
        padding: 8px 10px;
        color: #fff;
    }

    #nav a:hover{
        background: #fff;
        color: rgb(247, 182, 0);
        border-radius: 50px;
        transition-duration: 500ms;
    }
    /*NAVEGAÇÃO FIM*/

/* Cabeçalho  FIM*/

/* Inicio Main */
    #area-main{
        width: 920px;
        padding: 15px;
        margin: auto;
    }

    #postagens{
        width: 620px;
        float: left;        
    }

    .posts{
        padding: 15px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .title-post{
        color: rgb(247, 182, 0);
    }

    .data-post{
        border: 1px solid #fff;
        display: block;
        font-size: 0.8em;
        margin-bottom: 10px;
        padding-bottom: 10px;      
    }

    .img-post{
        width: 580px;
        border-radius: 20px 0px 20px;
    }

    .text-post{
        padding-top: 10px;
        text-align: justify;
    }

    .link-post{
        text-decoration: none;
        color: rgb(248, 182, 0);
        position: relative;
    }

    .link-post:after{
        content: "";
        position: absolute;
        background: rgb(247, 182, 0);
        height: 1px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: 0.3s;
    }

    .link-post:hover::after{
        width: 100%;
    }

    .link-post:hover{
        color: rgb(241, 205, 96);
    }
/* Fim Main */

